.nav-top
  .timeslots
    - (@event.timeslots.first.starts_at.to_date .. @event.timeslots.last.starts_at.to_date).each do |date|
      %a.timeslot{ id: "#{date.strftime('%A')}_nav",
                   class: 'pill',
                   href: "##{date.strftime('%A')}",
                   startsAt: date.in_time_zone.to_i,
                   endsAt:  date.in_time_zone.to_i + 60 * 60 * 24 }
        = date.strftime('%A')
  .maps
    =link_to "Unconfernce signup", home_page_path

    %a.room{ target: '_blank', href: event_map_path }
      Map

    %a.twitter{ target: '_blank', href: "http://twitter.com/#hydraconnect" }
      :escaped
        #hydraconnect


